
<!doctype html>
<html>
<script src="angular.min.js"></script>
<head>
<title>REGISTRATION FORM</title>
</head>
<body>
<CENTER>
<h1 style="color:tomato;">REGISTRATION FORM</H1></CENTER>
<div ng-app="myApp" ng-controller="myCtrl">
First Name: <input type="text" ng-model="firstName">
<br><br>Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName = "suba";
    $scope.lastName = "satya";
});
</script>
<br><br>
ADDRESS:
<textarea name="message" rows="3" cols="20" required> 
</textarea>
<BR><br>
GENDER:<BR>
<form>
  <input type="radio" ng-model="myVar" value="male">male
  <input type="radio" ng-model="myVar" value="female">female
</form>

<div ng-switch="myVar">
  <div ng-switch-when="male">
     <h1>male</h1>
  </div>
  <div ng-switch-when="female">
     <h1>female</h1>
  </div>
</div>
<BR><BR>
COURSES:
<form>
  COURSE:
  <select ng-model="myVar">
    <option value="IT">IT
    <option value="CSE">CSE
    <option value="BME">BME
    <option value="ECE">ECE
  </select>
</form>
<div ng-switch="myVar">
  <div ng-switch-when="IT">
     <h3>IT</h3>
  </div>
  <div ng-switch-when="CSE">
     <h3>CSE</h3>
  </div>
  <div ng-switch-when="BME">
     <h3>BME</h3>
  </div>
  <div ng-switch-when="ECE">
     <h3>ECE</h3>
  </div>
</div>
<BR><BR>
SUBJECTS:
<BR>
<form>
<input type="checkbox" ng-model="myvar1" value="os">OS
<br>
<input type="checkbox" ng-model="myvar2" value="unix">UNIX 
<BR>
<input type="checkbox" ng-model="myvar3" value="CADA">CADA
<br>
<input type="checkbox" ng-model="myvar4" value="C#">C# 
<BR><BR>
</form>
<h1 ng-show="myvar1">os</h1>
<h1 ng-show="myvar2">unix</h1>
<h1 ng-show="myvar3">cada</h1>
<h1 ng-show="myvar4">c#</h1>
COUNTRY:
<form>
  Select a topic:
  <select ng-model="myVar">
    <option value="INDIA">INDIA
    <option value="PAKISTAN">PAKISTAN
    <option value="ITALY">ITALY
    <option value="CHINA">CHINA
  </select>
</form>
<div ng-switch="myVar">
  <div ng-switch-when="INDIA">
     <h3>INDIA</h3>
  </div>
  <div ng-switch-when="PAKISTAN">
     <h3>PAKISTAN</h3>
  </div>
  <div ng-switch-when="ITALY">
     <h3>ITALY</h3>
  </div>
  <div ng-switch-when="CHINA">
     <h3>CHINA</h3>
  </div>
</div>
<CENTER>
<button type="button" onclick="alert('THANK YOU')">SUBMIT</button>
<button type="button" onclick="alert('CANCELLED')">CANCEL</button>
</CENTER>
</div>
</form>
</body>
</html>
